body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 120%;
  background-image: url('https://source.unsplash.com/1600x900/?landscape');
}

.card {
  background: #000000d0;
  color: aliceblue;
  padding: 2rem;
  border-radius: 30px;
  width: 100%;
  max-width: 420px;
  margin: 1em;
}

.search {
  display: flex;
  align-items: center;
  justify-content: center;
}

input.searchBar {
  border: none;
  outline: none;
  padding: .5em 1em;
  border-radius: 24px;
  background: #dff0bd;
  color: rgb(73, 72, 72);
  font-family: inherit;
  font-size: 120%;
}

button {
  margin: 0.5em;
  border-radius: 50%;
  border: none;
  outline: none;
  height: 46px;
  width: 46px;
  background: #dff0bd;
  color: rgb(73, 72, 72);
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

button:hover {
  background: #f0f7e1;
}

h1.temp {
  margin: 0;
  margin-bottom: 0.4em;
}

.flex {
  display: flex;
  align-items: center;
}

.description {
  text-transform: capitalize;
  margin-left: 8px;
}

.weather.loading {
  visibility: hidden;
  max-height: 20px;
  position: relative;
}

.weather.loading:after {
  visibility: visible;
  content: "Loading...";
  position: absolute;
  top: 0;
  left: 20px;
}